# Tipo de conexión Sequelize (development / test / production)
NODE_ENV=development

# Servidor
PORT_SERVER=1234

# Base de datos
DB_DEPLOY=db_production
DB_DEV=db_dev

DIALECT=mysql
USERDB=user_db
PASSWORD=password_db
HOST=localhost
PORT_DB=3306